<launch>

  <!-- Assign dataset directory -->
  <arg name="data_path"/>

  <!-- Choose scenario-->
  <arg name="scenario" default="0060"/>

  <!-- Choose replay speed -->
  <arg name="speed" default="0.2"/>

  <!-- Choose replay delay -->
  <arg name="delay" default="3" />

  <!-- Play rosbag file -->
  <node pkg="rosbag" type="play" name="player" args="-r $(arg speed) -d $(arg delay) $(arg data_path)/kitti_data/$(arg scenario)/synchronized_data.bag"/>

  <!-- Run the sensor setup node -->
  <node pkg="sensor_processing" type="sensor_setup" name="sensor_setup_node">

    <!-- Get parameters from parameter.yaml file -->
    <rosparam file="$(find sensor_processing)/config/parameters.yaml" command="load" />

    <!-- Get data path -->
    <param name="data_path" value="$(arg data_path)" />

    <!-- Get scenario identifier -->
    <param name="scenario" value="$(arg scenario)" />
  </node>

  <!-- Run the detection node -->
  <node pkg="detection" type="detection" name="detection_node" output="screen">

    <!-- Get parameters from parameter.yaml file -->
    <rosparam file="$(find sensor_processing)/config/parameters.yaml" command="load" />
    <rosparam file="$(find detection)/config/parameters.yaml" command="load" />
    
  </node>

  <!-- Run the visualization node -->
  <node pkg="visualization" type="visualization" name="visualization_node" output="screen">
    <!-- Get scenario identifier -->
    <param name="scenario" value="$(arg scenario)" />
  </node>

  
  <!-- Launch rviz for visualization -->
  <node pkg="rviz" type="rviz" name="my_rviz"
  args="-d $(find detection)config/rviz_config_detection.rviz"/>

</launch>
