<launch>

	<arg name="scenario" default="0005" />

	<node name="semantic_segmentation" pkg="perception" type="semantic_segmentation_node.py" output="screen">
		<param name="scenario" value="$(arg scenario)" />
	</node>

	<node pkg="rviz" type="rviz" name="my_rviz"
	args="-d $(find perception)/include/rviz_config.rviz"/>

	<node pkg="rosbag" type="play" name="player" args="-d 2 -r 2 /home/simonappel/kitti_data/$(arg scenario)/synchronized_data.bag"/>	
</launch>