<launch>

  <!-- Choose scenario -->
  <arg name="scenario" default="0060" />

  <!-- Play rosbag file -->
  <node pkg="rosbag" type="play" name="player" args="-r 0.2 -d 1 /home/simonappel/kitti_data/$(arg scenario)/synchronized_data.bag"/>

  <!-- Run the sensor setup node -->
  <node pkg="sensor_processing" type="sensor_setup" name="sensor_setup_node" output="screen">

    <rosparam file="$(find sensor_processing)/config/parameters.yaml" command="load" />

  </node>

  <node pkg="rviz" type="rviz" name="my_rviz"
	args="-d $(find sensor_processing)config/rviz_config.rviz"/>

</launch>